@model Core.Erp.Info.Inventario.in_ProductoTipo_Info
@{
    ViewBag.Title = "Modificar tipo de producto";

    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Modificar", "ProductoTipo", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdProductoTipo)
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tp_descripcion">Descripción*</label>
                    @Html.TextBoxFor(q => q.tp_descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.tp_descripcion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="check"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.tp_EsCombo_bool, settings =>
                    {
                        settings.Name = "tp_EsCombo_bool";
                        settings.Text = "Es combo";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.tp_EsCombo_bool, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="check"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.tp_ManejaInven_bool, settings =>
                    {
                        settings.Name = "tp_ManejaInven_bool";
                        settings.Text = "Maneja inventario";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.tp_ManejaInven_bool, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="check"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.Aparece_fabricacion, settings =>
                    {
                        settings.Name = "Aparece_fabricacion";
                        settings.Text = "Es fabricación";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Aparece_fabricacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="check"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.Aparece_modu_Compras, settings =>
                    {
                        settings.Name = "Aparece_modu_Compras";
                        settings.Text = "Aparece módulo compras";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Aparece_modu_Compras, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="check"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.Aparece_modu_Inventario, settings =>
                    {
                        settings.Name = "Aparece_modu_Inventario";
                        settings.Text = "Aparece módulo inventario";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Aparece_modu_Inventario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="check"></label>
                    @Html.DevExpress().CheckBoxFor(q => q.Aparece_modu_Ventas, settings =>
                    {
                        settings.Name = "Aparece_modu_Ventas";
                        settings.Text = "Aparece módulo ventas";
                    }).GetHtml()
                    @Html.ValidationMessageFor(q => q.Aparece_modu_Ventas, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","ProductoTipo",new { Area = "Inventario" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}