@model Core.Erp.Info.Helps.cl_filtros_Info
@{
    ViewBag.Title = "Dashboard";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Layout/_LayoutConsulta.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.HiddenFor(q => q.fecha_ini, new { @id = "fecha_ini" })
    @Html.HiddenFor(q => q.fecha_fin, new { @id = "fecha_fin" })

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Ventas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-3">
                    <canvas style="margin: 0px auto;" class="canvas" id="UltimasVentasAnio"></canvas>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <canvas style="margin: 0px auto;" class="canvas" id="UltimasVentasMeses"></canvas>
                </div> 
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <b><p id="FechaFacturado"></p></b>
                    <!-- Info Boxes Style 2 -->
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="ion ion-cash"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Facturación</span>
                            <span id="Facturado" class="info-box-number"></span> 
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="ion ion-calculator"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Cobros</span>
                            <span id="Cobrado" class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon"><i class="fa fa-bank"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Banco</span>
                            <span id="Banco" class="info-box-number"></span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
                <div class="col-md-1">
                </div>                  
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Clientes</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-6">
                    <canvas style="margin: 0px auto;" class="canvas" id="VentasClientes"></canvas>
                </div>
                <div class="col-md-6">
                    <table id="Table_VentasClientes" class="table table-responsive dataTable dataTables_paginate">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-sort="ascending">#</th>
                                <th class="sorting" tabindex="0">Cliente</th>
                                <th class="sorting" tabindex="0">Total</th>
                            </tr>
                        </thead>
                        <tbody id="Detalle_VentasClientes"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Productos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <canvas style="margin: 0px auto;" class="canvas" id="VentasProductos"></canvas>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6">
                    <table id="Table_VentasProductos" class="table table-responsive dataTable dataTables_paginate">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-sort="ascending">#</th>
                                <th class="sorting" tabindex="0">Productos</th>
                                <th class="sorting" tabindex="0">Precio Promedio</th>
                                <th class="sorting" tabindex="0">Total</th>
                            </tr>
                        </thead>
                        <tbody id="Detalle_VentasProductos"></tbody>
                    </table>
                </div>
            </div>
        </div>
}
<script type="text/javascript">
    $(function () {
        UltimasVentasAnio();
        UltimasVentasMeses();
        VentasClientes();
        VentasClientesListado();
        VentasProductos();
        VentasProductosListado();
        RegistroDia();

        $('#Table_VentasClientes').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            'scrollY': '500px',
            'scrollCollapse': true,
        })

        $('#Table_VentasProductos').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            'scrollY': '500px',
            'scrollCollapse': true,
        })
    })

    function UltimasVentasAnio() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("UltimasVentasAnio", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];
                var dataset = [];
                var valorData = [];

                var barChartData = {};

                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        if (index < NumRows) {
                            Background.push(colorRGBFijos(index + 1));
                            Etiquetas.push(value.Anio);
                            Valores.push(value.Total);
                        }
                    })

                    var miCanvasV = document.getElementById('UltimasVentasAnio').getContext('2d');

                    var chart = new Chart(miCanvasV, {
                        type: 'pie',
                        //labels: Etiquetas,
                        data: {
                            labels: Etiquetas,
                            datasets:
                                [{
                                    label: "Ventas por año",
                                    data: Valores,
                                    //backgroundColor: 'rgba(55, 160, 235, 0.2)', // Color de fondo
                                    //borderColor: 'rgba(55, 160, 235, 1)', // Color del borde
                                    borderWidth: 1,// Ancho del borde
                                    backgroundColor: [
                                    'rgba(41, 128, 185 )',
                                    'rgba(39, 174, 96 )',
                                    'rgba(93, 109, 126 )'
                                        ],
                                }]
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'VENTAS ULTIMOS 3 AÑOS'
                                }
                            }
                        }
                    });
                }
            },
            error: function (error) {

            }
        });
    };

    function UltimasVentasMeses() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("UltimasVentasMeses", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];
                var dataset = [];
                var valorData = [];

                var barChartData = {};

                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        if (index < NumRows) {
                            Background.push(colorRGBFijos(index + 1));
                            Etiquetas.push(value.Mes);
                            Valores.push(value.Total);
                        }
                    })

                    var miCanvasV = document.getElementById('UltimasVentasMeses').getContext('2d');
                    var chartEl = document.getElementById("UltimasVentasMeses");
                    chartEl.height = 300;
                    var chart = new Chart(miCanvasV, {
                        type: 'line',
                        //labels: Etiquetas,
                        data: {
                            labels: Etiquetas,
                            datasets:
                                [{
                                    label: "Ventas por mes",
                                    data: Valores,
                                    //backgroundColor: 'rgba(60, 180, 115, 0.2)', // Color de fondo
                                    //borderColor: 'rgba(60, 180, 115, 1)', // Color del borde
                                    borderWidth: 1,// Ancho del borde
                                    backgroundColor: [
                                    'rgba(205, 97, 85 )',
                                    'rgba( 235, 152, 78  )',
                                    'rgba( 244, 208, 63  )',
                                    'rgba( 84, 153, 199 )',
                                    'rgba(82, 190, 128 )'
                                    ],
                                }]
                        },
                        options: {
                            responsive: false,
                            animation: {
                                radius: {
                                    duration: 400,
                                    easing: 'linear',
                                    loop: (context) => context.active
                                }
                            },
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'VENTAS DE LOS ULTIMOS 5 MESES'
                                }
                            }
                        }
                    });
                }
            },
            error: function (error) {

            }
        });
    };

    function VentasClientes() {
        var datos = {
            FechaIni: $("#fecha_ini").val(),
            FechaFin: $("#fecha_fin").val(),
            IdEmpresa: $("#IdEmpresa").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("VentasClientes", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];
                var dataset = [];
                var valorData = [];

                var barChartData = {};

                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        if (index < NumRows) {
                            Background.push(colorRGBFijos(index + 1));
                            Etiquetas.push(value.Mes);
                            Valores.push(value.Total);
                        }
                    })

                    var miCanvasV = document.getElementById('VentasClientes').getContext('2d');
                    var chartEl = document.getElementById("VentasClientes");
                    chartEl.height = 500;

                    var chart = new Chart(miCanvasV, {
                        type: 'bar',
                        data: {
                            labels: Etiquetas,
                            datasets:
                                [{
                                    label: "Ventas",
                                    data: Valores,
                                    backgroundColor: 'rgb( 235, 152, 78 )',// Color de fondo
                                    borderColor: 'rgb(255, 159, 64)',// Color del borde
                                    //borderWidth: 1,// Ancho del borde
                                }]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                            },
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'TOP 5 VENTAS POR CLIENTES'
                                }
                            }
                        }
                    });
                }
            },
            error: function (error) {

            }
        });
    };

    function VentasClientesListado() {
        var datos = {
            FechaIni: $("#fecha_ini").val(),
            FechaFin: $("#fecha_fin").val(),
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("VentasClientesListado", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var detalle = "";
                $.each(data, function (index, value) {
                    detalle += "<tr>" +
                                "<td>" + value.Anio + "</td>" +
                                "<td>" + value.Mes + "</td>" +
                                "<td>" + value.Total_String + "</td>" +
                                "</tr>";
                })
                $("#Table_VentasClientes tbody").append(detalle)

            },
            error: function (error) {

            }
        });
    };
    function VentasProductos() {
        var datos = {
            FechaIni: $("#fecha_ini").val(),
            FechaFin: $("#fecha_fin").val(),
            IdEmpresa: $("#IdEmpresa").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("VentasProductos", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var NumRows = data.length;
                var Etiquetas = [];
                var Valores = [];
                var Background = [];
                var Border = [];
                var dataset = [];
                var valorData = [];

                var barChartData = {};

                if (data.length > 0) {
                    $.each(data, function (index, value) {
                        if (index < NumRows) {
                            Background.push(colorRGBFijos(index));
                            Etiquetas.push(value.Mes);
                            Valores.push(value.Total);
                        }
                    })
                    //doughnut
                    var miCanvasV = document.getElementById('VentasProductos').getContext('2d');
                    var chartEl = document.getElementById("VentasProductos");
                    chartEl.height = 500;

                    var chart = new Chart(miCanvasV, {
                        type: 'bar',
                        labels: Etiquetas,
                        data: {
                            labels: Etiquetas,
                            datasets:
                                [{
                                    label: "Productos",
                                    data: Valores,
                                    //backgroundColor: Background, // Color de fondo
                                    //backgroundColor: 'rgba(2, 195, 202, 0.2)', // Color de fondo
                                    //borderColor: 'rgba(2, 195, 202, 1)', // Color del borde
                                    backgroundColor: [
                                    'rgba(205, 97, 85 )',
                                    'rgba( 235, 152, 78  )',
                                    'rgba( 244, 208, 63  )',
                                    'rgba( 84, 153, 199 )',
                                    'rgba(82, 190, 128 )'
                                    ],
                                    borderWidth: 1,// Ancho del borde
                                }]
                        },
                        options: {
                        responsive: false,
                        animation: {
                        radius: {
                        duration: 400,
                        easing: 'linear',
                        loop: (context) => context.active
                                    }
                            },
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'TOP 5 VENTAS POR PRODUCTOS'
                                }
                            },
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        autoSkip: false,
                                        maxRotation: 90,
                                        minRotation: 90
                                    }
                                }]
                            }
                        }
                    });
                }
            },
            error: function (error) {

            }
        });
    };

    function VentasProductosListado() {
        var datos = {
            FechaIni: $("#fecha_ini").val(),
            FechaFin: $("#fecha_fin").val(),
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("VentasProductosListado", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var detalle = "";
                $.each(data, function (index, value) {
                    detalle += "<tr>" +
                                "<td>" + value.Anio + "</td>" +
                                "<td>" + value.Mes + "</td>" +
                                "<td>" + value.Precio_String + "</td>" +
                                "<td>" + value.Total_String + "</td>" +
                                "</tr>";
                })
                $("#Table_VentasProductos tbody").append(detalle)

            },
            error: function (error) {

            }
        });
    };

    function RegistroDia() {
        var datos = {
            IdEmpresa: $("#IdEmpresa").val(),
            IdTransaccionSession: $("#IdTransaccionSession").val()
        }

        $.ajax({
            type: 'POST',
            data: JSON.stringify(datos),
            url: '@Url.Action("RegistroDia", "Dashboard")',
            async: false,
            bDeferRender: true,
            bProcessing: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log(data);
                $("#FechaFacturado").html("Fecha: "+data.FechaIni_String + " - " + data.FechaFin_String);
                $("#FechaCobrado").html(data.FechaIni_String + " - " + data.FechaFin_String);
                $("#FechaBanco").html(data.FechaIni_String + " - " + data.FechaFin_String);

                $("#Facturado").html(data.TotalFactura_String);
                $("#Cobrado").html(data.TotalCobro_String);
                $("#Banco").html(data.TotalPagos_String);
            },
            error: function (error) {

            }
        });
    }

    function colorRGBFijos(Color) {
        var Color0 = "rgb(192, 57, 43)";
        var Color1 = "rgb(41, 128, 185)";
        var Color2 = "rgb(39, 174, 96)";
        var Color3 = "rgb(230, 126, 34)";
        var Color4 = "rgb(241, 196, 15)";
        var Color5 = "rgb(142, 68, 173)";
        var Color6 = "rgb(93, 109, 126)";
        var Color7 = "rgb(44, 62, 80 )";
        var Color8 = "rgb(2, 195, 202)";
        var Color9 = "rgb(11, 83, 69)";
        var Color10 = "rgb(110, 44, 0)";

        if (Color == 0) var Color = Color0;
        if (Color == 1) var Color = Color1;
        if (Color == 2) var Color = Color2;
        if (Color == 3) var Color = Color3;
        if (Color == 4) var Color = Color4;
        if (Color == 5) var Color = Color5;
        if (Color == 6) var Color = Color6;
        if (Color == 7) var Color = Color7;
        if (Color == 8) var Color = Color8;
        if (Color == 9) var Color = Color9;
        if (Color == 10) var Color = Color10;

        return Color;
    }

    function colorRGBFijos_Lineas(Color) {
        var Color1 = "rgb(146, 43, 33)";
        var Color2 = "rgb(31, 97, 141)";
        var Color3 = "rgb(35, 155, 86)";
        var Color4 = "rgb(241, 196, 15)";
        var Color5 = "rgb(160, 64, 0 )";

        if (Color == 1) var Color = Color1;
        if (Color == 2) var Color = Color2;
        if (Color == 3) var Color = Color3;
        if (Color == 4) var Color = Color4;
        if (Color == 5) var Color = Color5;

        return Color;
    }
</script>
