@model Core.Erp.Info.RRHH.ro_canasta_basica_Info
@{
    ViewBag.Title = "Modificar canasta basica";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "CanastaBasica", FormMethod.Post, new { @class = "form", @role = "form" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Año fiscal*</label>
                    @Html.DropDownListFor(q => q.Anio, new SelectList(ViewBag.lst_anio, "IdanioFiscal", "IdanioFiscal"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.Anio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Valor canasta basica*</label>
                    @Html.TextBoxFor(q => q.valorCanasta, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.valorCanasta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Multiplo fraccion basica*</label>
                    @Html.TextBoxFor(q => q.MultiploFraccionBasica, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MultiploFraccionBasica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Multiplo canasta basica*</label>
                    @Html.TextBoxFor(q => q.MultiploCanastaBasica, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MultiploCanastaBasica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="ca_descripcion">Observacion*</label>
                    @Html.TextBoxFor(q => q.Observacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Observacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","CanastaBasica",new { Area = "RRHH" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}

