@model Core.Erp.Info.CuentasPorPagar.cp_proveedor_clase_Info
@{
    ViewBag.Title = "Consultar clase de proveedor";

    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Consultar", "ClaseProveedor", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdClaseProveedor)
    @Html.HiddenFor(q => q.Nuevo, new { @id = "Nuevo" })
    @Html.HiddenFor(q => q.Modificar, new { @id = "Modificar" })
    @Html.HiddenFor(q => q.Anular, new { @id = "Anular" })

    if (@ViewBag.mensaje != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <h4>
                <i class="icon fa fa-warning"></i> @ViewBag.mensaje
            </h4>
        </div>
    }
    if (ViewBag.MensajeSuccess != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>
                <i class="icon fa fa-check"></i> @ViewBag.MensajeSuccess
            </h4>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-offset-9 col-md-1">
                <div class="form-group">
                    <div id="btnNuevo" hidden>
                        <a type="button" class="btn btn-primary form-control" title="Nuevo" href="@Url.Action("Nuevo","ClaseProveedor",new { Area = "CuentasPorPagar", IdEmpresa=Model.IdEmpresa },null)">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <div id="btnModificar" hidden>
                        <a type="button" class="btn btn-primary form-control" title="Modificar" href="@Url.Action("Modificar", "ClaseProveedor", new { Area = "CuentasPorPagar", IdClaseProveedor = Model.IdClaseProveedor }, null)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <div id="btnAnular" hidden>
                        <a type="button" class="btn btn-primary form-control" title="Anular" href="@Url.Action("Anular", "ClaseProveedor", new { Area = "CuentasPorPagar", IdClaseProveedor=Model.IdClaseProveedor }, null)">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cod_clase_proveedor">Código*</label>
                    @Html.TextBoxFor(q => q.cod_clase_proveedor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.cod_clase_proveedor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="descripcion_clas_prove">Descripción*</label>
                    @Html.TextBoxFor(q => q.descripcion_clas_prove, new { @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.descripcion_clas_prove, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCtaCble_CXP">Cta. Cble. CXP*</label>
                    @Html.Partial("_CmbCtaCbleCXP_Proveedor", Model.IdCtaCble_CXP)
                    @Html.ValidationMessageFor(q => q.IdCtaCble_CXP, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCtaCble_Gasto">Cta. Cble. Gasto</label>
                    @Html.Partial("_CmbCtaCbleGasto_Proveedor", Model.IdCtaCble_gasto)
                    @Html.ValidationMessageFor(q => q.IdCtaCble_gasto, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IdCtaCble_Anticipo">Cta. Cble. Anticipo</label>
                    @Html.Partial("_CmbCtaCbleAnticipo_Proveedor", Model.IdCtaCble_Anticipo)
                    @Html.ValidationMessageFor(q => q.IdCtaCble_Anticipo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","ClaseProveedor",new { Area = "CuentasPorPagar" },null)">Cancelar</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
<script type="text/javascript">
    $(function () {
        MostrarBotonesAccion();
    });

    function MostrarBotonesAccion() {
        if ($("#Nuevo").val() == 1)
        {
            $("#btnNuevo").show();
        }
        if ($("#Modificar").val() == 1)
        {
            $("#btnModificar").show();
        }
        if ($("#Anular").val() == 1)
        {
            $("#btnAnular").show();
        }
    }
</script>