@using System.Web.UI.WebControls;
@model Core.Erp.Info.RRHH.ro_participacion_utilidad_Info

@{
    ViewBag.Title = "Modificar";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "ParticipacionUtilidad", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdUtilidad)
    @Html.HiddenFor(q => q.IdTransaccionSession)
    @Html.HiddenFor(q => q.Utilidad, new { @id = "Utilidad" })
    @Html.HiddenFor(q => q.UtilidadDerechoIndividual, new { @id = "UtilidadDerechoIndividual" })
    @Html.HiddenFor(q => q.UtilidadCargaFamiliar, new { @id = "UtilidadCargaFamiliar" })
    <div class="row">
        <div class="col-md-12">


            <div class="col-md-1">
                <div class="form-group">
                    <label for="FechaFin">Año*</label>
                   @Html.DropDownListFor(q => q.IdPeriodo, new SelectList(ViewBag.lst_anio, "IdanioFiscal", "IdanioFiscal"), new { @class = "form-control" })
                @Html.ValidationMessageFor(q => q.IdPeriodo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">Base imponible*</label>
                    @Html.TextBoxFor(q => q.BaseUtilidad, new { @class = "form-control", @id = "BaseUtilidad" })
                    @Html.ValidationMessageFor(q => q.BaseUtilidad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">Utilidad*</label>
                    @Html.TextBoxFor(q => q.Utilidad, new { @class = "form-control", @id = "UtilidadR", @readonly = "readonly" })
                    @Html.ValidationMessageFor(q => q.Utilidad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">10% Individual*</label>
                    @Html.TextBoxFor(q => q.UtilidadDerechoIndividual, new { @class = "form-control", @id = "UtilidadDerechoIndividualR", @readonly = "readonly" })
                    @Html.ValidationMessageFor(q => q.UtilidadDerechoIndividual, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">5% Por cargas*</label>
                    @Html.TextBoxFor(q => q.UtilidadCargaFamiliar, new { @class = "form-control", @id = "UtilidadCargaFamiliarR", @readonly = "readonly" })
                    @Html.ValidationMessageFor(q => q.UtilidadCargaFamiliar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br>
                    <button type="button" class="btn btn-primary" onclick="calcular_utilidades()" id="bt_calcular">Calcular</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br>
                    <a class="btn btn-default" href="@Url.Action("Index","ParticipacionUtilidad",new { Area = "RRHH" },null)">Cancelar</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_utilidades_detalle")
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


<script>

  

  function calcular_utilidades() {
            var datos = {
                IdPeriodo: $("#IdPeriodo").val(),
                BaseUtilidad: $("#BaseUtilidad").val()
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("calcular","ParticipacionUtilidad", new { Area = "RRHH" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#UtilidadR").val(data.Utilidad);
                    $("#UtilidadDerechoIndividualR").val(data.UtilidadDerechoIndividual);
                    $("#UtilidadCargaFamiliarR").val(data.UtilidadCargaFamiliar);

                    $("#Utilidad").val(data.Utilidad);
                    $("#UtilidadDerechoIndividual").val(data.UtilidadDerechoIndividual);
                    $("#UtilidadCargaFamiliar").val(data.UtilidadCargaFamiliar);

                    GridViewPartial_utilidades_detalle.PerformCallback();
                },
                error: function (error) {
                }
            });
        };
</script>