@using System.Web.UI.WebControls;
@model Core.Erp.Info.RRHH.ro_participacion_utilidad_Info

@{
    ViewBag.Title = "Modificar";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
@using (Html.BeginForm("Modificar", "ParticipacionUtilidad", FormMethod.Post, new { @class = "form", @role = "form" }))
{
    @Html.HiddenFor(q => q.IdEmpresa)
    @Html.HiddenFor(q => q.IdUtilidad)
    @Html.HiddenFor(q => q.IdTransaccionSession)

    <div class="row">
        <div class="col-md-12">


            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">Año*</label>
                    @Html.TextBoxFor(q => q.IdPeriodo, new { @class = "form-control", @id = "IdPeriodo" })
                    @Html.ValidationMessageFor(q => q.IdPeriodo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">Utilidad*</label>
                    @Html.TextBoxFor(q => q.Utilidad, new { @class = "form-control", @id = "Utilidad" })
                    @Html.ValidationMessageFor(q => q.Utilidad, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">10% Individual*</label>
                    @Html.TextBoxFor(q => q.UtilidadDerechoIndividual, new { @class = "form-control", @id = "UtilidadDerechoIndividual" })
                    @Html.ValidationMessageFor(q => q.UtilidadDerechoIndividual, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="FechaFin">5% Por cargas*</label>
                    @Html.TextBoxFor(q => q.UtilidadCargaFamiliar, new { @class = "form-control", @id = "UtilidadCargaFamiliar" })
                    @Html.ValidationMessageFor(q => q.UtilidadCargaFamiliar, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br>
                    <button type="button" class="btn btn-primary" onclick="calcular_utilidades()" id="bt_calcular">Calcular</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <br>
                    <a class="btn btn-default" href="@Url.Action("Index","ParticipacionUtilidad",new { Area = "RRHH" },null)">Cancelar</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Action("GridViewPartial_utilidades_detalle")
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}


<script>

    $("#Utilidad").change(function () {
        calcular_base();
    });

        function calcular_utilidades() {
            var datos = {
                IdPeriodo: $("#IdPeriodo").val(),
                UtilidadDerechoIndividual: $("#UtilidadDerechoIndividual").val(),
                UtilidadCargaFamiliar: $("#UtilidadCargaFamiliar").val()
            }

            $.ajax({
                type: 'POST',
                data: JSON.stringify(datos),
                url: '@Url.Action("calcular","ParticipacionUtilidad", new { Area = "RRHH" })',
                async: false,
                bDeferRender: true,
                bProcessing: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    GridViewPartial_utilidades_detalle.PerformCallback();
                },
                error: function (error) {
                }
            });
        };

    function calcular_base() {
        var utilidad = $("#Utilidad").val();
        var individual =(10* utilidad)/15;
        var cargas = (5 * utilidad) / 15;

        $('#UtilidadDerechoIndividual').val(individual.toFixed(2));
        $('#UtilidadCargaFamiliar').val(cargas.toFixed(2));


    }
</script>