@model Core.Erp.Info.General.tb_bodega_Info
@{
    ViewBag.Title = "Consulta de bodegas";
    if (string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdUsuario) || string.IsNullOrEmpty(Core.Erp.Web.Helps.SessionFixed.IdEmpresa))
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(q => q.IdEmpresa, new { @id = "IdEmpresa" })
    @Html.HiddenFor(q => q.IdSucursal, new { @id = "IdSucursal" })
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })
    @Html.Action("GridViewPartial_bodega", new { IdSucursal = Model.IdSucursal, Nuevo = ViewBag.Nuevo })
}

<div class="box-footer">
    <a class="btn btn-default" href="@Url.Action("Index","Sucursal",new { Area = "General" },null)">Volver</a>
</div>